/* основной цвет текста  #757575;*/
/* вторичный цвет текста color: #212121; */
/* цвет акцента color: #2196F3; */
/* основной фон #E5E5E5 */
/* Цвет фона в футере background: #2F303A; */
/* цвет текста в футере color: #FFFFFF */

:root {
    --main-text-color: #757575;
    --secondery-text-color: #212121;
    --accent-color: #2196F3;
    --main-background-color: #E5E5E5;
    --secondary-background-color: #2F303A;
    --footer-text-color: #FFFFFF;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


body {
    background: var(--main-background-color);
    
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}



/* Хеддер */

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.list {
    list-style: none;
}

.logo-web {
    color: #2196F3;
}

.link-site-nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondery-text-color);
    text-decoration: none;
  
}

.site-nav .link-site-nav:hover, :focus {
    color: var(--accent-color);
}
.link-auth-nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
}

.auth-nav .link-auth-nav:hover, :focus {
    color: var(--accent-color);
}

.container-headr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav-items:not(:last-child) {
    margin-right: 50px;
}

.auth-nav-items:not(:last-child) {
    margin-right: 50px;
}

/* Тема сайта */

.title {
    font-family: Roboto;
    font-weight: 900;
    font-style: normal;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

   margin-top: 200px;
    
}

.title-button {
    cursor: pointer;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;

    margin-top: 30px;
    margin-bottom: 200px;
    min-width: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
      
}

.container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-section {
  background-color: var(--secondary-background-color);
}
    

/* Преимущества студии */

.title-second-section {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondery-text-color);
}

.advantages {
    display: flex;
    flex-wrap: nowrap;
   
}

.list-advantages:not(:last-child) {
    margin-right: 30px;
}

.about-advantages {
    margin-top: 10px;
}
/* Чем мы занимаемся и Наша команда */

.title-third-section {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondery-text-color);

    margin-bottom: 50px;
   }

.container-example {
    display: flex;
    flex-direction: column;
}   

.list-example {
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
    margin-left: -30px;
} 

.list-example-icon {
    margin-top: 50px;
    margin-left: 30px;
}

 /* Фото команды */
  
 .title-photo {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondery-text-color);
    margin-top: 30px;

  }

  .profession {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 30px;
  }

  .section-team {
      background-color: #F5F4FA;
  }

  .list-team {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -50px;
  }

  .list-team-info {
      margin-left: 30px;
      margin-top: 50px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
  }

  /* Футер */

.logo-footer {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--footer-text-color);
    text-decoration: none;
   
}

.address,
.contact {
    color: var(--footer-text-color);
    text-decoration: none;
    font-style: normal;
}

.contact {
    
    color: rgba(255, 255, 255, 0.6);
}

.footer {
    background-color: var(--secondary-background-color);
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 60px;
    padding-bottom: 60px;

}

.list-contact {
    margin-top: 20px;
}

.list-contact-item:not(:first-child) {
    margin-top: 9px;
}

/*  Список фильтр кнопок в партфолио */

.button-list {
    cursor: pointer;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--secondery-text-color);

    background: #F5F4FA;
    border-radius: 4px;
}

.button-list:hover, :focus {
    color: #FFFFFF;
    background: var(--accent-color);
}

/* Проекты партфолио */

.title-project {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--secondery-text-color);
}